.newcoll{
    &__marqueeContainer{
        height: 75px;
        margin-top: 200px;
    }
    &__marquee{
        font-size: 44px;
        -webkit-text-fill-color: #ff0c0c00;
        -webkit-text-stroke: 0.5px #f00;
        border-top: 0.5px solid #f00;
        border-bottom: 0.5px solid #f00;
        padding: 6px 0px;
        font-family: 'Archivo Black', sans-serif;
        font-weight: 500;
    }    
    &__title{
        padding-top: 100px;
        padding-bottom: 60px;
        font-size: $fsTitle;
        font-weight: $fwTitle;
    }
    &__blockHolder{
        display: flex;
        justify-content: space-between;
    }
    &__block1{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    &__block1b{
        display: flex;
    }
    &__text{
        font-size: 22px;
        max-width: 490px;
        padding-bottom: 50px;
    }
    &__pic1{
        width: 300px;
        &SidewaysText{
            writing-mode: sideways-lr;
            text-align: end;
            font-size: 12px;
            margin-left: 7px;
        }
    }
    &__pic1text{        
        width: 240px;
        font-size: 12px;
        margin-top: 12px;
        margin-bottom: 119px;
    }
    &__pic2b{
        align-self: flex-end;
        display: flex;
        flex-direction: row-reverse;
        width: 650px;
        margin-bottom: 80px;
    }
    &__pic2{
        width: 270px;
        &SidewaysText{
            writing-mode: sideways-lr;
            text-align: end;
            font-size: 12px;
            margin-right: 7px;
        }
    }
    &__pic3{
        width: 630px;
        outline: 1px solid black;
    }
    &__block2{
        display: flex;
        flex-direction: column;
        &B{
            position: relative;
            div{
                position: absolute;
                right: -28px;
                top: 23px;
                background-color: #ffffffb3;
                border-radius: 50%;
                outline: 1px red solid;
                color: red;
                writing-mode: sideways-lr;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 90px;
                height: 90px;
            }
        }
    }    
    &__button{
        cursor: pointer;
        margin-top: 19px;
        outline: 1px solid black;
        text-align: center;
        padding: 12px 0;
        font-size: 15px;
    }
}
@supports(writing-mode: vertical-lr){
    .newcoll{
        &__pic1SidewaysText{
            writing-mode: vertical-lr;
        }
        &__pic2SidewaysText{
            writing-mode: vertical-lr;
        }
        &__block2B div{
        writing-mode: vertical-lr;
        }
    }
}

@media all and (max-width: 1595px){
    .newcoll__pic2b {
        width: auto;
    }
    .newcoll__pic3 {
        width: 500px;
    }
}
@media all and (max-width: 1100px){
    .newcoll__pic2b {
        width: auto;
    }
    .newcoll__pic3 {
        width: 400px;
    }
}
@media all and (max-width: 950px){
    .newcoll__pic3 {
        width: 340px;
    }
}
@media all and (max-width: 800px){
    .newcoll__blockHolder {
        flex-wrap: wrap;
    }
}

@media all and (max-width: 400px){
    .newcoll__pic3 {
        width: 290px;
    }
}

@media all and (max-width: 370px){
    .newcoll__pic1 {
        width: 271px;
    }
}