.navbar{
    padding-top: 20px;
    text-align: center;
    &__logo{
        width: 250px;
    }
    &__list{
        outline: 1px solid black;
        display: flex;
        list-style: none;
        justify-content: space-evenly;
        padding: 20px 0px;
        a{
            text-decoration: none;
            color: black;
            /* outline: 1px solid black; */
        }
    }
    &__cart{
        display: flex;
        justify-content: center;
        padding: 10px 0px;
    }
}