.navbar{
    padding-top: 20px;
    text-align: center;
    li{
        width: 20%;
        border-right: 1px solid black;
        padding: 15px 0;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        &:first-child{
            border-left: 1px solid black;
        }
    }
    &__logo{
        width: 250px;
    }
    &__list{
        /* outline: 1px solid black; */
        display: flex;
        list-style: none;
        justify-content: space-evenly;
        /* padding: 20px 0px; */
        a{
            text-decoration: none;
            color: black;
            
        }
    }
    &__cart{
        display: flex;
        justify-content: center;
        padding: 10px 0px;
    }
}