.navbar{
    padding-top: 8px;
    text-align: center; 
    &__top{
        display: flex;
        justify-content: space-between;
        border-top: $border;        
    }
    &__logo{
        width: 250px;
        margin: auto;
        padding: 15px 0px;
    }
    &__icon{
        padding: 0 15px;
        border-left: $border;
        border-right: $border;
    }    
    &__list{
        display: flex;
        justify-content: space-evenly;
        a{
            text-decoration: none;
            color: black;
            padding: 20px 0px;
            width: 20%;
            border-right: $border;
            padding: 15px 0;
            border-top: $border;
            border-bottom: $border;
            &:first-child{
                border-left: $border;
            }
        }
    }
    &__cart{
        display: flex;
        align-items: center;
        img{
            width: 22px;
            margin-right: 2px;  
        }
    }
}