.itemCounter{
    &__top{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px !important;
    }
    &__temp{
        max-height: 250px;
    }
    &__title{
        display: flex;
        justify-content: center;
    }
    &__container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__button{
        color: black;
        background-color: transparent;
        border: 0;
        font-size: 26px;
        cursor: pointer;
    }
    &__number{
        padding: 0px 9px;
        width: 32px;
        text-align: center;
    }
    &__buyButton{
        display: flex;
        margin: auto;
        padding: 4px 17px;
        color: black;
        background-color: white;
        outline: 1px solid black;
        border: 0;
        font-size: 14px;
        cursor: pointer;
        transition: all .2s linear;
        &:hover{
            color: white;
            background-color: black;
        }
    }
}