.navbar{
    padding-top: 20px;
    &__logo{
        width: 170px;
    }
    &__list{
        display: flex;
        list-style: none;
        justify-content: space-evenly;
        padding: 20px 0px;
        a{
            text-decoration: none;
            color: black;
        }
    }
}