.titleOne{
    font-size: 37px;
    text-align: center;
}
$fsTitle: 37px;
$fwTitle: 600;

$border: 1.9px solid black;
$border-white: 1.9px solid white;

$bgBlack: #000000;

$secondColor: #d7d7d7;

$transition: all 0.3s ease-in-out;